<%= simple_form_for @article, :html => {:multipart => true} do |f| %>

  <div class="row">
    <div class="form-group col-lg-5">
      <%= f.input :masquer, label: 'Publier' %>
    </div>
  </div>
  
  <div class="row">
      <div class="form-group col-lg-5">
          <%= f.input :titre, label: 'Titre' %>
      </div>
  </div>
  
  <div class="row">
      <div class="form-group col-lg-5">
          <%= f.association :categorie, label: 'Categorie' %>
      </div>
  </div>
  
  <div class="row">
      <div class="form-group col-lg-9">
          <%= f.input :contenu, label: 'Contenu', input_html: { class: 'wysihtml5' }  %>
      </div>
  </div>

  <div class="row">
      <div class="form-group col-lg-9">

         <% if @article.photo.exists? %>
            <%= image_tag @article.photo(:medium) %> 
        <% end %>

         <%= f.input :photo, as: :file %>
      </div>
  </div>

  <div class="row">
    <%= button_tag(class: 'btn btn-primary') do %>
      <span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
    <% end %>
    
    <% if @article.titre %>
      <%= link_to @article, class: 'btn btn-info' do %>
        <span class="glyphicon glyphicon-eye-open"></span> Voir l'article
      <% end %>
    <% end %>
  </div>

<% end %>
