<%= simple_form_for @commentaire,
  :url => url_for(:action => 'add', :controller => 'commentaires', :article_id => @article.id),
  :method => 'post' do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :contenu, label: t('Comment') + " :" %>
    
    <%= f.hidden_field :article_id, :value => @article.id %>
  </div>

  <div class="form-actions">
    <%= button_tag(class: 'btn btn-primary') do %>
      <span class="glyphicon glyphicon-plus"></span> <%= t('btn_add') %>
    <% end %>
  </div>
  
<% end %>