<% if notice.present? %><p id="notice"><%= notice %></p><% end %>

<p>
  <strong>Titre:</strong>
  <%= @article.titre %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @article.contenu %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @article.categorie %>
</p>

<p>
  <strong>Créé le:</strong>
  <%= @article.created_at.strftime('%d/%m/%Y %H:%M') %>
</p>

<p>
  <strong>Modifié le:</strong>
  <%= @article.updated_at.strftime('%d/%m/%Y %H:%M') %>
</p>

<p>
  <strong>Masquer:</strong>
  <%= @article.masquer %>
</p>


<p>
  <strong>Photo:</strong>
  <%= image_tag @article.photo(:medium) %>
</p>

<%= link_to 'Modifier', edit_article_path(@article) %> |
<%= link_to 'Retourner à la liste des articles', articles_path %>
