<div class="container mt-20">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><%= t('Categories') %></p>
            <div class="list-group">
              <% @categories.each do |category| %>
                <% if category.id == @article.categorie.id %>
                  <%= link_to category.nom, category_path(category), :class => "list-group-item active" %>
                <% else %>
                  <%= link_to category.nom, category_path(category), :class => "list-group-item" %>
                <% end %>
              <% end %>
            </div>
        </div>

        <div class="col-md-9 article">

            <div class="thumbnail">
                <%= image_tag @article.photo, :class => "img-responsive" %>
                <div class="caption-full">
                    <h5 class="pull-right"><span class="glyphicon glyphicon-time"></span> <%= t('published_by') %> <%= l @article.created_at, format: :short %> <%= t('by') %> <%= @article.created_by %></h5>
                    <h4><%= @article.titre %></h4>
                    <div class="mt-20">
                        <%= @article.contenu.html_safe %>
                    </div>
                </div>
                
                <hr>
                
                <div class="ratings">
                    <p class="pull-right">
                        <% if @comments.present? %>
                            <a href="#comments"><%= @comments.count %> <% if @comments.count > 1 %><%= t('comments') %><% else %><%= t('comment') %><% end %></a>
                        <% else %>
                            <span class="black"><%= t('no_comment') %></span>
                        <% end %>
                    </p>
                    
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 étoiles
                    </p>
                </div>
            </div>
            
            <div class="row">
                <% if notice.present? %>
                    <p id="notice" class="inner-article"><%= notice %></p>
                <% end %>  
            </div>

            <div id="comments" class="well">
                
                <div class="text-right">
                    <% if user_signed_in? %>
                        <a id="add-comment-button" href="#post-comment" class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span><%= t('leave_comment') %></a>
                    <% else %>
                        <p><span class="glyphicon glyphicon-alert"></span> <%= t('you_have_to') %> <%= link_to 'vous connecter', new_user_session_path %> <%= t('to_leave_comment') %>.</p>
                    <% end %>
                </div>
                    
                <% if @comments.present? %>
                    <% @comments.each do |comment| %>
                        <hr>
                        
                        <div class="row comment">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span> - 
                                <strong><%= comment.created_by %></strong> : 
                                <span class="pull-right"><%= t('Added_comment') %> <strong><%= l comment.created_at, format: :short %></strong></span>
                                <p><%= comment.contenu %></p>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <hr>
                        
                    <div class="row white-bg">
                        <div class="col-md-12">
                            <p class="no-margin"><span class="glyphicon glyphicon-info-sign"></span> <%= t('no_comment_long') %></p>
                        </div>
                    </div>
                <% end %>
                
                <% if user_signed_in? %>
                    <hr>
                    
                    <div id="post-comment" class="row">
                        <div class="col-md-12">
                            <p><%= t('leave_comment') %> <%= t('as') %> <strong><%= current_user %></strong>.</p>
                            <%= render 'form_comment' %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<% if user_signed_in? && current_user.has_role?(:admin, current_user) %>
    <%= link_to 'Modifier', edit_article_path(@article) %> |
    <%= link_to 'Retourner à la liste des articles', articles_path %>
<% end %>

