<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1><%= t('welcome_title') %></h1>
    <p><%= t('home_text') %>.</p>
</header>

<% if notice.present? %>
    <p id="notice"><%= raw notice %></p>
<% end %>

<% if (user_signed_in?) %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t('hello_date') %> <%= l(Time.now, :format =>"%A %d %B %Y") %></h3>
        </div>
        
        <div class="panel-body">
            <p><%= t('welcome_back') %> <b><%= current_user %></b>, <%= t('check_account') %> <%= link_to t('here'), edit_user_registration_path %>.</p>
            
            <% if current_user.has_role?(:admin, current_user) %>
                <p>
                    <b><%= t('admin_options') %> :</b>
                    <%= link_to t('list_articles'), articles_path %> |
                    <%= link_to t('list_categories'), categories_path %> |
                    <%= link_to t('list_comments'), commentaires_path %>
                </p>
            <% else %>
                
            <% end %>
        </div>
    </div>
<% else %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><%= raw t('subscribe') %></h3>
        </div>
         
        <div class="panel-body">
            <%= raw t('user_subscribe') %>
        </div>
    </div>
<% end %>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3><%= t('last_articles') %></h3>
    </div>
</div>
<!-- /.row -->

<!-- Last Articles -->
<div class="row text-center">
    <% @articles.each do |article| %>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <% if article.photo.exists? %>
                    <%= image_tag article.photo(:medium) %> 
                <% else %>
                    <img src="http://placehold.it/800x500" alt="Image par défaut">
                <% end %>
                <div class="caption">
                    <h3><%= article.titre %></h3>
                    <p><%= truncate(strip_tags(article.contenu), length: 165) %></p>
                    
                    <%= link_to article, class: 'btn btn-primary' do %>
                        Lire la suite
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>