<div class="row">
  <div class="col-md-12">
    <% if notice.present? %><p id="notice"><%= notice %></p><% end %>
    
    <h1>Liste des Catégories</h1>
    
    <br>
    
    <%= link_to 'Nouvelle catégorie', new_category_path, class: 'btn btn-success' %>
    
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-9">Nom</th>
          <th class="col-md-3">Options</th>
        </tr>
      </thead>
    
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.nom %></td>
            <td>
              <%= link_to 'Modifier', edit_category_path(category), class: "btn btn-warning" %>
              <%= link_to 'Supprimer', category, method: :delete, data: { confirm: 'Êtes-vous sur de vouloir supprimer cette catégorie?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="pagination">
       <%= will_paginate @categories, :container => false, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
